* {
    margin: 0; /* Remove todas as margens padrão */
    padding: 0; /* Remove todo o preenchimento padrão */
    box-sizing: border-box; /* Garante que o tamanho inclua bordas e padding */
}

body {
    margin: 0px;
    height: 100vh;
    cursor: default;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Courier New", Courier, monospace; /* Fonte monoespaçada */
}

#screen {
    border: 2px red solid; 
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    cursor: default;
    overflow: hidden;
}

input[type="radio"] {
    display: none;
}
input[type="checkbox"] {
    display: none;
}

.alternatives-container {
    display: flex;
    flex-direction: column;
    color: white; /* Cor do texto */
    cursor: pointer; /* Cursor de clique */
}

#alternatives{
    display: flex;
    flex-direction: column;
}

/* Estilo ao selecionar a alternativa */
input[type="radio"]:checked + .radio-container {
    background-color: #00ff00; /* Fundo verde ao selecionar */
    color: black; /* Texto preto ao selecionar */
}
/* Estilo ao selecionar a alternativa */
input[type="checkbox"]:checked + .checkbox-container {
    background-color: #00ff00; /* Fundo verde ao selecionar */
    color: black; /* Texto preto ao selecionar */
}
/* Efeito ao passar o mouse */
.checkbox-container:hover {
    background-color: #333; /* Leve alteração ao passar o mouse */
}


#form-container{
    border: solid 2px green;
    display: flex;
    padding: 1vw;
    flex-direction: column;
    color: white;
    font-size: 0.8vw;
    width: 80vw;
    height: 36vw;
}

#form-title{
    width: 100%;
    font-size: 0.8vw;
    text-align: center;
    color: white;
    font-family:'Orbitron', sans-serif;
    margin-bottom: 1vw;
}

form{
    height: 100%;
    padding-bottom: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-form{
    border: solid 2px green;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding: 0px;
}

.category-title{
    border: 1px green solid;
    font-size: 1vw; 
}

.category-field{
    border: 1px green solid;
    display: flex;
    flex-direction: row;
    align-items: center;
}